@using UsersApp.ViewModels;
@model VerifyEmailViewModel;

@{
    ViewData["Title"] = "Verify Email - SpendSmart";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <h1 class="brand-title">SpendSmart</h1>
    <div class="account-box">
        <h2 class="text-center mb-4">Verify Email</h2>
        <form asp-action="VerifyEmail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn w-100 p-2">Verify</button>
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="Login" class="a-btn text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}